[submodule "third_party/sputnik"]
	path = third_party/sputnik
	url = https://github.com/google-research/sputnik
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/kineto"]
	path = third_party/kineto
	url = https://github.com/pytorch/kineto
